# Local Development
# NEXT_PUBLIC_API_BASE_URL=https://api.typo3-inst.localhost/headless
# NEXT_PUBLIC_TYPO3_BASE_URL=https://api.typo3-inst.localhost
# NEXT_PUBLIC_BASE_URL=https://typo3-inst.localhost

# Production (Railway)
NEXT_PUBLIC_API_BASE_URL=https://web-production-581b4.up.railway.app/headless
NEXT_PUBLIC_TYPO3_BASE_URL=https://web-production-581b4.up.railway.app
NEXT_PUBLIC_BASE_URL=https://nextjs-front-end-for-typo3-headless-production.up.railway.app
NEXT_PUBLIC_FRONTEND_FILE_API=/headless/fileadmin
NEXT_PUBLIC_SKIN=premium
NEXT_PUBLIC_HEADLESS_DEVTOOLS=true

NEXT_PUBLIC_SEARCH_API_BASE_URL=https://api.typo3-inst.localhost/api/search
